#myheader body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
#myheader header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100vw;
    box-sizing: border-box;
}
#myheader header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
  }
  #myheader header nav {
    float: right;
  }
  #myheader header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  #myheader header nav ul li {
    list-style: none;
  }
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
  
  }
  #myheader header nav ul li a:hover,
  #myheader header nav ul li a:active {
    color: #fff;
    background: #2196f3;
  }
  #myheader .menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  #myheader .square_btn{
      padding: 0.7em 1em;
      margin-top: 3px;
      float: right;
      text-decoration: none;
      background: #668ad8;/*ボタン色*/
      color: #FFF;
      font-size: 16px;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
      display: none;
  }
  #myheader .square_btn:active {/*ボタンを押したとき*/
      -ms-transform: translateY(4px);
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
      border-bottom: none;
  }
  
  @media (max-width: 991px) {
    #myheader header {
      padding: 0 20px;
    }
    #myheader .menu-toggle {
      display: block;
    }
    #myheader header nav {
      display: none;
      position: absolute;
      width: 100%;
      height: calc(100vh - 50px);
      background: #333;
      top: 50px;
      transition: 0.5s;
    }
    #myheader header nav ul {
      display: block;
      text-align: center;
    }
    #myheader .square_btn {
      display: inline;
    }
  }