#List #list {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin: 0; 
    padding-top: 1em;
    padding-bottom: 1em
}
#List #list:hover{
    background-color: #ffc9d7;
}
#List #title {
    padding: 0.5em 1em;
    margin: 2em 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin: 0; 
    padding-top: 1em;
    padding-bottom: 1em;
}
#List ul{
    list-style: none;
}